@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Manrope:wght@200..800&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background-color:rgba(41, 40, 40, 1)
}

/* CABEÇALHO */
header{
    height: 118px;
    background-color: rgba(3, 121, 87, 1);
    box-shadow: 9px 10px 10px -8px rgba(0,0,0,0.35);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
header nav{
    display: flex;
    align-items: center;

}
header nav ul ul{
    display: none;
    position: absolute;
    background-color: rgba(3, 121, 87, 1);
    list-style-type: none;
    box-shadow: 9px 10px 10px -8px rgba(0,0,0,0.30);
}

header nav ul > li:hover ul{
    display: block;
}

header ul > li:hover li{
    border: solid rgb(255, 255, 255) 0.1px;
    box-shadow: 9px 10px 10px -8px rgba(0,0,0,0.30);
}

header ul{
    display: flex;
}

header li{
    list-style: none;
    font-size: 25px;
    padding-left: 37px;
    padding-right: 37px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
}

header a{
    text-decoration: none;
    color: white;
}
main{
    max-width: 90%;
    margin: 0 auto;
}
main h2{
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 55px;
    border-top: 1px rgba(98, 169, 111, 1) solid;
    text-align: center;
    color: white;
}
main span{
    position: relative;
    bottom: 35px;
    background-color: rgba(41, 40, 40, 1);
    padding: 10px;
}
main h3{
    font-size: 30px;
    font-family: "Manrope", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    padding-bottom: 30px;
    padding-top: 30px;
}
main input{
    width: 359px;
    height: 58px;
    margin: 8px;
    background-color: rgba(217, 217, 217, 1);
    font-size: 20px;
    font-family: "Manrope", sans-serif;
    font-weight: lighter;
    
}
main input[type='submit']{
    width: 168px;
    background-color: rgba(58, 58, 64);
    color: white;
    
}

main ::placeholder{
    font-size: 20px;
    font-family: "Manrope", sans-serif;
    font-weight: lighter;
    padding-left: 10px;
}
main div.contatos{
    background-color: white;
    width: 544px;
    height: 469px;
    border-top-left-radius: 114px;
    box-shadow: 9px 10px 10px -8px rgba(0,0,0,0.30);
}
main div.box1{
    display: flex;
    padding-top: 10px;
    gap: 250px;
    text-align: center;
    justify-content: center;
}
main div.redes_sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 176px;
    margin: 50px;
    background-color: white;
    border-bottom-left-radius: 114px;
    border-bottom-right-radius: 114px;
    box-shadow: 9px 10px 10px -8px rgba(0,0,0,0.30);
}
main div.redes_sociais p{
    font-size: 20px;
    font-family: "Manrope", sans-serif;
    font-weight: lighter;
}
main a{
    text-decoration: none;
    color: black;
}

/* RODAPE */
footer{
    width: 100%;
    height: 150px;
    background-color: rgba(3, 121, 87, 1);
    margin-top: 3em;
}
footer nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
footer p{
    padding-left: 200px;
    padding-right: 200px;
    font-size: 25px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
}
footer ul{
    list-style: none;
    display: flex;
}

footer li{
    padding: 5px;
}
footer figure{
    padding-top: 20px;
}
